:root {
    --orange: #f15927;
    --sky: #cdeaf1;
    --light-blue: #99d3df;
    --medium-blue: #00708e;
    --dark-blue: #00334e;
    --green: #02874D;
    --red: #90040B;
    --yellow: #E98300;
    --white: #f9fcff;
    --black: #00222d;
    --gray: #c1c3c7;

    --max-width: 800px;

    --disabled-color: #AAA;
    --disabled-background: #F5F5F5;
    --enabled-color: var(--black);
    --enabled-background: var(--white);

    --header-height: 2.5rem;
    --footer-height: 2rem;
}
