:root {
    --orange: #f15927;
    --light-orange: #f69879;
    --dark-orange: #903517;
    --sky: #cdeaf1;
    --light-blue: #99d3df;
    --medium-blue: #00708e;
    --dark-blue: #00334e;
    --green: #02874D;
    --red: #90040B;
    --yellow: #E98300;
    --white: #f9fcff;
    --black: #00222d;
    --light-gray: #dddedf;
    --gray: #c1c3c7;
    --dark-gray: #a1a5ae;

    --accent-color: var(--medium-blue);

    --max-width: 800px;

    --disabled-color: #AAA;
    --disabled-background: #F5F5F5;
    --enabled-color: var(--black);
    --enabled-background: var(--white);

    --header-height: 2.5rem;
    --footer-height: 2rem;
}
